<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light page-topbar" routerLinkActive="active">
  <div class="container-fluid">
    <!-- Name/logo -->
    <a class="navbar-brand" routerLink="/">
      <!-- Logo image -->
      <img src="../../../assets/images/logo/zorroSign-logo.jpg" alt="Logo" width="35" height="30"
        class="d-inline-block align-text-top">
      <!-- name -->
      <span class="ms-2">ZorroSign</span>
    </a>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home link -->
        <li class="nav-item ms-3">
          <a class="nav-link" routerLink="home"><i class='bx bx-home text-muted'></i>
            Home</a>
        </li>
        <!-- Templates link -->
        <li class="nav-item ms-3">
          <a class="nav-link" routerLink="template"><i class='bx bx-windows text-muted'></i>
            Templates</a>
        </li>
        <!-- Z-Vault link -->
        <li class="nav-item ms-3">
          <a class="nav-link" routerLink="zVault"><i class='bx bx-wallet text-muted'></i>
            Z-Vault</a>
        </li>
        <!-- Contacts link -->
        <li class="nav-item ms-3">
          <a class="nav-link" routerLink="contacts"><i class="bx bx-user-circle text-muted"></i>
            Contacts</a>
        </li>
      </ul>
      <!-- Navbar buttons -->
      <div class="d-flex">
        <!-- Upgrade button -->
        <div class="ms-1">
          <button type="button" class="btn btn-coustom btn-border">Upgrade</button>
        </div>
        <!-- Help button -->
        <div class="ms-1">
          <button type="button" class="btn"><i class='bx bx-question-mark icon-font-24'></i></button>
        </div>
        <!-- Settings button -->
        <div class="ms-1">
          <button type="button" class="btn"><i class="bx bx-cog icon-font-24"></i></button>
        </div>
        <!-- Notifications button -->
        <div class="ms-1">
          <button type="button" class="btn"><i class="bx bx-bell icon-font-24"></i></button>
        </div>
        <!-- User profile avatar -->
        <div class="ms-1">
          <img src="assets/images/user/avatar-2.jpg" alt="Header Avatar" class="rounded-circle header-profile-user">
        </div>
      </div>

    </div>
  </div>
</nav>
